<div>
  <ul>
    <li>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfUlEQVR4nO3YwQmAMBBE0ZSnWMf+9B3tQ7EEddFI/oMcA5lThilFkiR1CFiArda6f3zWiJgvBzgvdvD4/TxAGy9ARMw9hAAaMF0OIEkaG7ld6F6feSL7F75VB4YOEIldyD4jSRphF1pT+9IXiwSZdeP3AeLlXQj3H0mSyv8c9ovzSspHI9MAAAAASUVORK5CYII="
        alt="fries-menu"
      />
    </li>
    <li>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABt0lEQVR4nO2WvUoDQRDHDzVp/OgUfIXoOxhrLYy4VmkSkv9/c+T8eoFrxdfw61EEsdEIRoz21qbQSpkwC1vF20sIghlYONj9z29udnZ2o2hqf8WMMUWS+wCuAHRJ9mXo96XMyZqxQgHsAngl+f3L6JGsjAxM03SG5JlzDOAewAHJUrVanZfRaDTWSB6SfPACOBVtbjAVCuCTJIc5kzkALV07gOdOLxXabDY3AoItOziAnSCoMabo7SlDgyYZK/gFQCFEuO/2NM9eGWNmAXQ08L3MQgDXCk5CoZ6PI/VxkVlE8lmjLeUFa7ULuJtZBOBDRHEcL+QF1+v1RQV/TBScJMlSMJhjSLW1dt1Vdgj4UsGHecEATtTHefBxIvmQ9ziRfNQ/NqE3UU+FrVAwybZqX9M0nQsVV7w+Xc6qA7BJ8ku01trt0KAHJo3eg8eSwmh4etsOCuDdWrsSjXAtnnrXYkc6kjQHOWoytHqP3Z46qFufGy4mt4wciwwPgTcAWwJzvXoc8II0fOm9JJ+0yfQ1oHOpXr+QxgoPtVqttuy9TCTY1ehfwK2XdpK3EwN78DsANxMFTy1S+wG8ZX+Z4zme3QAAAABJRU5ErkJggg=="
        alt="search--v1"
      />
    </li>
  </ul>
</div>
