<section>
  <svg
    width="124"
    height="177"
    viewBox="0 0 124 177"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="9" cy="34" r="77" fill="#7286D3" />
    <circle cx="12.5" cy="129.5" r="47.5" fill="#7286D3" />
    <circle cx="92" cy="59" r="32" fill="#7286D3" />
  </svg>

  <div>
    <span> ¿Conoces el ciclo del agua? </span>
    <span>Practica tus conocimientos en la categoría que prefieras.</span>
    <span>Practica tus conocimientos en la categoría que prefieras.</span>
    <button type="submit">SIGUIENTE</button>
  </div>
</section>
