<!-- <section>
  <div *ngFor="let foro of foros" class="animate__animated animate__fadeInUp">
    <img [src]="foro.icono || 'icons/foloicon.png'" alt="">
    <p>{{ foro.descripcion }}</p>
  </div>
</section> -->

<section>
    <div class="animate__animated animate__fadeInUp">
        <img src="icons/foloicon.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius voluptatibus obcaecati iste odio autem repellat sunt doloremque earum, perspiciatis quisquam illo repudiandae voluptas modi, temporibus corporis eaque debitis omnis?</p>
    </div>
</section>
