<section>
  <div class="animate__animated animate__fadeInUp">
    <div>
      <form (ngSubmit)="onSubmit()">
        <h2>registrarse</h2>
        <input
          type="text"
          placeholder="Nombre"
          [(ngModel)]="nombre"
          name="nombre"
          required
        />
        <input
          type="email"
          placeholder="Correo"
          [(ngModel)]="correo"
          name="correo"
          required
        />
        <input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="contrasena"
          name="contraseña"
          required
        />
        <input
          type="text"
          placeholder="Rol (opcional)"
          [(ngModel)]="rol"
          name="rol"
        />
        <button type="submit">Registrarse</button>
        <div *ngIf="error" style="color: red">{{ error }}</div>
        <div *ngIf="success" style="color: green">{{ success }}</div>
      </form>
    </div>
    <div>
      <p>Ingresa también con:</p>
      <a href=""
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 488 512"
          width="20"
        >
          <path
            fill="#7F5AF0"
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          /></svg
      ></a>
    </div>
  </div>
</section>
