section {
  min-width: 320px;
  max-width: 576px;
  height: 100dvh;
  width: 100%;
  margin: auto;
  @media only screen and (min-width: 320px) and (max-width: 576px) {
  width: 100dvw;
  margin: auto;
  background-color: transparent;
  }
}
